.not-found-screen {
  min-height: 100%;
  padding-top: 200px;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-screen-title {
  margin: 0;
  font-size: 35px;
  padding-bottom: 50px;
}
.not-found-screen-link {
  display: block;
  justify-self: stretch;
}
